[Unit]
Description=MLflow
Documentation=https://github.com/freva-org/freva-service-config/tree/main/mlflow
After=network-online.target
Wants=network-online.target
Before=nginx.service


[Container]
Image=ghcr.io/freva-org/freva-mlflow:latest
ContainerName=freva-mlflow
ContainerName=mlflow

Network=mlflow.network

PublishPort=8080:8080

EnvironmentFile=/etc/mlflow/mlflow.env
Environment=PYTHONPATH=/opt/mlflow/plugins
Volume=/opt/mlflow/plugins:/opt/mlflow/plugins:ro,Z


[Service]
Restart=always

[Install]
WantedBy=multi-user.target
